extends layout

block content
  div.profile
    h3.profile-header= title
    p.list-header 5 ваших друзей:
    ul
      each friend in friends
        li #{friend.first_name + ' ' + friend.last_name}
    form.form(method="GET" action="/vkontakte/logout")
      button.btn(type = "submit") Logout
